body{
   background:linear-gradient(to bottom,#c9e4ca 30%,#55828b 100%);
   box-sizing:border-box;
   width:100%;
   height:100%;
   overflow: auto;
   resize: scroll;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'BIZ UDPMincho';font-size: 22px;
   color:#031d44;
}
  table {
   border-collapse: collapse;
   margin-top: 20px;
  }
  table, th, td {
   border: 1px solid black;
   padding: 10px;
  }
  th {
   background-color: #ccc;
  }
  input[type=text], input[type=email], input[type=number], input[type=file] {
   padding: 5px;
   margin: 5px;
   width: 300px;
  }
  button {
   margin: 10px;
   padding: 5px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
  }
  button:hover {
   background-color: #3e8e41;
  }
